header {
	background-image: url("/assets/headerbgcut.jpg");
	position: relative;
	background-position: center;
	height: 700px;
	border-top: solid;
	background-repeat: no-repeat;
	border-color: #ACDEA3;
	border-width: 5px;
}

.subhead {
	font-family: Arvo;
	font-style: italic;
	font-size: 25px;
	color: white;
	text-align: center;
	margin-top: 250px;
	margin-bottom: -75px;
}

.greenP {
	color: #ACDEA3;
}

.name {
	font-family: PT Sans;
	font-size: 75px;
	font-weight: 700;
	color: white;
	text-align: center;
}


.mainhead div {
	line-height: 0px;
}
nav {
	text-align: center;
	margin-right: 35px;
	margin-top: 90px;

}
nav li {
	display: inline;
	font-family: PT Sans;
	font-size: 18px;
	margin: 15px;
}

nav a {
	text-decoration: none;
	color: white;
	padding: 10px 20px 10px 20px;
	border: solid;
	border-color: white;
}

nav a:hover {
	background: white;
	color: black;
}

body {
	background: #FCFAF3;
	width: 100%;
	height: 150%;
}

h2 {
	font-family: Arvo;
}

.content {
	margin: 250px 600px 0 600px;
	text-align: center;
	line-height: 2;
	font-style: PT Sans;
}

#about p > .strike {
	font-style: italic;
	text-decoration: line-through;
}

#about div > img {
	height: 30%;
	width: 30%;
	text-align: center;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	margin: 25px;
}

.socialmedia li {
	display: inline;
	font-family: PT Sans;
	font-size: 40px;
}

.socialmedia li a {
	color: grey;
}

.socialmedia li a:hover {
	color: black;
}

hr {
	margin: 75px 0;
	border-color: #ACDEA3;
}