header {
	background-image: url("/assets/headerbgcut.jpg");
	position: relative;
	height: 700px;
	border-top: solid;
	background-repeat: no-repeat;
	border-color: #ACDEA3;
	border-width: 5px;
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
}

.subhead {
	font-family: Arvo;
	font-style: italic;
	font-size: 25px;
	color: white;
	text-align: center;
	margin-top: 250px;
}

.noobH {
	color: #ACDEA3;
}

.name {
	font-family: PT Sans;
	font-size: 75px;
	font-weight: 700;
	color: white;
	text-align: center;
	margin-top: 50px;
}


.mainhead div {
	line-height: 0px;
}
nav {
	text-align: center;
	margin-right: 35px;
	margin-top: 90px;

}
nav li {
	display: inline;
	font-family: PT Sans;
	font-size: 18px;
	margin: 15px;
}

a {
	text-decoration: none;
	color: white;
	padding: 10px 20px 10px 20px;
	border: solid;
	border-color: white;
}

a:hover {
	background: white;
	color: black;
}

body {
	background: #FCFAF3;
	width: 100%;
	height: 150%;
}

h2 {
	font-family: Arvo;
}

.content {
	margin: 150px 550px 0 550px;
	text-align: center;
	line-height: 2.5;
}

hr {
	margin: 75px 0;
	border-color: #ACDEA3;
}